@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.intro{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(https://cdn.pixabay.com/photo/2016/11/29/03/35/dark-1867089_1280.jpg) no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.content h1 {
    font-family: 'Raleway', sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #000;
    font-size: 400%;
}
.btn {
    border-radius: 9px;
    font-family: 'Oswald', sans-serif;
    color: #ff6666;
    font-size: 135%;
    padding: 10px 20px;
    border: solid #ff6666 3px;
    text-transform: uppercase;
    text-decoration: none; 
}
.btn:hover{
    color: #fff;
    border: solid #fff 3px;
    
}
p{
    font-size: 160%;
    line-height: 210%;
    text-align: justify;
    margin: 3%;
    font-family: sans-serif;
}